html {
  background: url(https://images.unsplash.com/photo-1565130838609-c3a86655db61?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60)
    no-repeat center fixed;
  background-size: cover;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#logo {
  font-size: large;
  color: black;
  font-weight: bold;
  margin-left: 5px;
  margin-top: 3rem;
}

#leftIcon {
  padding: 5px;
}

#rightIcon {
  margin-top: 5px;
  transform: rotateY(180deg);
}

.link {
  color: black;
  font-size: medium;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 15px;
}

.icon {
  color: black;
  margin-left: 5px;
}

.border {
  border-bottom: solid black 1px;
  padding: 10px;
}

.aboutTitle {
  margin-top: 25px;
  text-align: center;
  color: black;
}

p {
  color: whitesmoke;
}

.description {
  color: whitesmoke;
  text-align: center;
}

.techUsed {
  text-align: center;
  color: black;
}

.sourcesLink {
  color: whitesmoke;
}

.techDescription {
  text-align: center;
  color: black;
  list-style-type: none;
}

.uk-card {
  background: none;
  border: solid whitesmoke 1px;
}

.uk-card-title {
  color: whitesmoke;
}


h4 {
  color: whitesmoke;
  font-size: smaller;
  text-align: center;
}

footer {
  margin-top: 25px;
}
