html {
  background: url(https://images.unsplash.com/photo-1565130838609-c3a86655db61?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60)
    no-repeat center fixed;
  background-size: cover;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* h4 {
  color: black;
  font-size: smaller;
  text-align: center;
} */

#logo {
  font-size: large;
  color: black;
  font-weight: bold;
  margin-left: 5px;
  margin-top: 3rem;
}

#leftIcon {
  padding: 5px;
}

#rightIcon {
  margin-top: 5px;
  transform: rotateY(180deg);
}

.link {
  color: black;
  font-size: medium;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 15px;
}

.icon {
  color: black;
  margin-left: 5px;
}

.border {
  border-bottom: solid black 1px;
  padding: 10px;
}

.form {
  /* white-space: nowrap; */
  margin-left: 10px;
}

#currentSearch {
  color: whitesmoke;
  white-space: nowrap;
  font-weight: bold;
  font-size: large;
}

#searchCard {
  background: none;
}

.uk-divider-small {
  margin-top: 25px;
}

#recentSearch {
  color: whitesmoke;
  margin-top: 15px;
  white-space: nowrap;
  font-weight: bold;
  font-size: large;
}

#recentDropdown {
  width: 15rem;
  color: whitesmoke;
  border: solid 1.5px;
  background: none;
}

#searchBar {
  width: 15rem;
  color: whitesmoke;
  border: solid 1.5px;
}

#searchBtn {
  padding: 10px;
  background: black;
  color: whitesmoke;
}

#weatherCard {
  float: right;
  background: none;
}

figure {
  color: whitesmoke;
}

/* .weather-display {
  padding: 5px;
  width: 300px;
  height: 200px;
  border: solid black 1px;
  margin-top: 15px;
  margin-left: 15px;
} */

#musicIcon {
  color: whitesmoke;
}

.uk-card {
  border: black solid 1px;
  background: whitesmoke;
}

h3 {
  font-weight: bolder;
  color: whitesmoke;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
}

h4 {
  color: whitesmoke;
  font-size: smaller;
  text-align: center;
}
