html {
  background: url(https://images.unsplash.com/photo-1565130838609-c3a86655db61?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60)
    no-repeat center fixed;
  background-size: cover;
}

/* 
#img.source-image {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
} */
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3 {
  color: black;
  margin-top: 20px;
}

h4 {
  color: black;
  font-size: smaller;
  text-align: center;
}

#logo {
  font-size: large;
  color: black;
  font-weight: bold;
  margin-left: 5px;
  margin-top: 3rem;
}

#leftIcon {
  padding: 5px;
}

#rightIcon {
  margin-top: 5px;
  transform: rotateY(180deg);
}

.link {
  color: black;
  font-size: medium;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 15px;
}

.icon {
  color: black;
  margin-left: 5px;
}

.border {
  border-bottom: solid black 1px;
  padding: 10px;
<<<<<<< HEAD
}

.uk-card{
  background: none;
}
/* .resultsContainer {
  margin-left: 50px;
} */

.weather-display {
  padding: 5px;
  width: 300px;
  height: 200px;
  border: solid black 1px;
  margin-top: 25px;
  /* margin-left: 10rem; */
  /* margin-right: 10px; */
}

#searchBar {
  margin-top: 25px;
  width: 15rem;
  color: whitesmoke;
  border: solid 1.5px;
}

#searchBtn {
  /* margin-top: 25px; */
  padding: 10px;
  background: black;
  color: whitesmoke;
}

#form-stacked-select {
  width: 15rem;
  color: whitesmoke;
  border: solid 1.5px;
  background: none;
}

.option {
  width: 15rem;
  background: none;
}

#musicIcon {
  color: whitesmoke;
}

.uk-heading-line {
  text-decoration-color: black;
=======
>>>>>>> main
}